### Access Points ###
##Change the values below to fit into your network
clients:

  -
    name: MyAP_network
    ip4: 137.63.128.0
    netmask: 24
    secret: MySecret

  #
  # -
  #   name: MyOtherAP
  #   ip4: 123.345.567.789
  #   secret: MyOtherSecret
  # -
  #   name: TestAP with customized netmask & nastype
  #   ip4: 1.2.3.0
  #   secret: AnotherSecret
  #   netmask: 24
  #   nastype: other
