#################################
###       Shared secrets      ###
#################################


#   # National/Federation Radius Proxies (FLR) ##
#   # Send an email to systems@renu.ac.ug to have this secret
#   # For other countries, please contact your NREN's systems team
#   # Replace MyFLRSecret with the provided secret
flr_secret: MyFLRSecret


### certificate password
### This can be any password used to encrypt your certificates
certs_key:

## Static Test User
test_user_password: abc123


    ########################################
    ### User Stores: LDAP Authentication ###
    ########################################
#ldap_identity: uid=admin,cn=users,cn=compat,dc=example,dc=ac,dc=ug #for freeIPA
ldap_identity: cn=Manager,dc=example,dc=ac,dc=ug
ldap_password: MySecret




    ##############################################
    ### User Stores: Windows AD authentication ###
    ##############################################
# Win authentication is coming in the upcoming versions, kindly wait till authentication
#It requires adding the server to the AD dc, which has not yet been automated yet




    ##############################################
    ### User Stores: SQL authentication ###
    ##############################################
#sql_password: MyDbPwd
#sql_user:



##############################################
### User Stores: Windows AD authentication ###
##############################################
# Win authentication is coming in the upcoming versions, kindly wait till authentication
#It requires adding the server to the AD dc, which has not yet been automated yet
