# -*- text -*-
##
## clients.conf -- client configuration directives
##
## Per https://wiki.geant.org/display/H2eduroam/freeradius-sp
##
## localhost
client localhost {
        ipaddr = 127.0.0.1
        secret = testing123
        nastype = other
}

##
## If you are running an eduroam SP, you should include details
## of your wireless infrastructure here.
##

##
## These are the eduroam FLR servers for your country
##
client eduroam.renu.ac.ug {
     ipaddr                        = 196.43.185.12
     netmask                       = 32
     secret                        = {{ flr_secret }}
     require_message_authenticator = yes
     shortname                     = eduroam.renu.ac.ug
     nas_type                      = other
     add_cui                       = yes
     virtual_server                = eduroam
}

client radius.ucu.ac.ug {
     ipaddr                        = 196.43.140.135
     netmask                       = 32
     secret                        = {{ flr_secret }}
     require_message_authenticator = yes
     shortname                     = radius.ucu.ac.ug
     nas_type                      = other
     add_cui                       = yes
     virtual_server                = eduroam
}

# Access Points

{% for client in clients %}

  client {{ client.name }} {
    ipaddr                          = {{ client.ip4 }}
    netmask                         = {{ client.netmask|default(netmask) }}
    secret                          = {{ client.secret }}
    require_message_authenticator   = yes
    #nastype                        = {{ client.nastype|default(nastype) }}
    virtual_server                  = {{ client.virtual_server|default(virtual_server) }}
  }

{% endfor %}
