# -*- text -*-
##
## clients.conf -- client configuration directives
##
## Per https://wiki.geant.org/display/H2eduroam/freeradius-sp
##
## localhost
client localhost {
        ipaddr = 127.0.0.1
        secret = testing123
        nastype = other
}

##
## If you are running an eduroam SP, you should include details
## of your wireless infrastructure here.
##

##
## These are the eduroam FLR servers for your country
##
{% for flr in flrs %}
client {{ flr.name }} {
     ipaddr                        = {{ flr.ip4 }}
     netmask                       = 32
     secret                        = {{ flr_secret }}
     require_message_authenticator = yes
     shortname                     = {{ flr.shortname }}
     nas_type                      = other
     add_cui                       = yes
     virtual_server                = eduroam
}

{% if flr.ipv6_enabled == True %}
## {{ flr.name }} IPv6
client {{ flr.name }}-v6 {
        ipaddr                        = {{ flr.ip6 }}
        netmask                       = 32
        secret                        = {{ flr_secret }}
        require_message_authenticator = yes
        shortname                     = {{ flr.shortname }}
        nas_type                      = other
        add_cui                       = yes
        virtual_server                = eduroam
}

{% endif %}
{% endfor %}


# Access Points

{% for client in clients %}

  client {{ client.name }} {
    ipaddr                          = {{ client.ip4 }}
    netmask                         = {{ client.netmask|default(netmask) }}
    secret                          = {{ client.secret }}
    require_message_authenticator   = yes
    #nastype                        = {{ client.nastype|default(nastype) }}
    virtual_server                  = {{ client.virtual_server|default(virtual_server) }}
  }

{% endfor %}
