home_server localhost {
        type = auth
        ipaddr = 127.0.0.1
        port = 1814
        secret = testing123
        response_window = 20
        zombie_period = 40
        revive_interval = 120
        status_check = status-server
        check_interval = 30
        check_timeout = 4
        num_answers_to_alive = 3
        max_outstanding = 65536
        coa {
                irt = 2
                mrt = 16
                mrc = 5
                mrd = 30
        }
        limit {
              max_requests = 0
              lifetime = 0
              idle_timeout = 0
        }

}

home_server eduroam-proxy.renu.ac.ug {
        type           = auth+acct
        ipaddr         = 196.43.185.12
        port           = 1812
        secret         = {{ flr_secret }}
        status_check   = status-server
}

home_server radius.ucu.ac.ug {
        type           = auth+acct
        ipaddr         = 196.43.140.135
        port           = 1812
        secret         = {{ flr_secret }}
        status_check   = status-server
}

home_server_pool EDUROAM {
        type           = fail-over
        home_server    = eduroam-proxy.renu.ac.ug
        home_server    = radius.ucu.ac.ug
}

realm NULL {
        nostrip
}

realm {{ realms }} {
       #nostrip
}

realm "~.+\\.example\\.ac\\.ug$" {
}
# blackhole routing - EAP-SIM/MNOs
realm "~\\.3gppnetwork\\.org$" {
    nostrip
}


realm DEFAULT {
        pool          = EDUROAM
        nostrip
}
