proxy server {
        default_fallback        = no
}

home_server localhost {
        type = auth
        ipaddr = 127.0.0.1
        port = 1814
        secret = testing123
        response_window = 20
        zombie_period = 40
        revive_interval = 120
        status_check = status-server
        check_interval = 30
        check_timeout = 4
        num_answers_to_alive = 3
        max_outstanding = 65536
        coa {
                irt = 2
                mrt = 16
                mrc = 5
                mrd = 30
        }
        limit {
              max_requests = 0
              lifetime = 0
              idle_timeout = 0
        }

}
{% for flr in flrs %}
## {{ flr.name }} IPv4
home_server {{ flr.name }} {
        type           = auth+acct
        ipaddr         = {{ flr.ip4 }}
        port           = {{flr.port | default(def_rad_port) }}
        secret         = {{ flr_secret }}
        status_check   = status-server
}

{% if flr.ipv6_enabled == True %}
## {{ flr.name }} IPv6
home_server {{ flr.name }}-v6 {
        type           = auth+acct
        ipaddr         = {{ flr.ip6 }}
        port           = {{flr.port | default(def_rad_port) }}
        secret         = {{ flr_secret }}
        status_check   = status-server
}
{% endif %}

{% endfor %}


home_server_pool EDUROAM {
        type           = fail-over
        {% for flr in flrs %}
        home_server    = {{ flr.name }}
        {% if flr.ipv6_enabled == True %}
        home_server    = {{ flr.name }}-v6
        {% endif %}{% endfor %}
}

{% for realm in realms %}

realm {{ realm }} {
	nostrip
}

{% endfor %}

realm "~.+$" {
        pool                    = EDUROAM
        nostrip
}
