server eduroam-inner-tunnel {

listen {
       ipaddr = 127.0.0.1
       port = 18150
       type = auth
}

authorize {

        auth_log
        eap {
                ok = return
        }
        files
        mschap
        pap
        suffix
        {% if ldap.enabled == True %}ldap{% endif %}
}

authenticate {

        eap

        Auth-Type PAP {
               pap
        }


        Auth-Type MS-CHAP {
               mschap
        }

        {% if ldap.enabled == True %}
        ldap
        Auth-Type LDAP {
               ldap
        }
        {% endif %}
}
}
