server eduroam-inner-tunnel {

authorize {
        auth_log
        eap
        files
        mschap
        pap
        {% if ldap.enabled == True %}ldap{% endif %}
}

authenticate {
        Auth-Type PAP {
                pap
        }
        Auth-Type MS-CHAP {
                mschap
        }
        eap
        {% if ldap.enabled == True %}
        ldap
        Auth-Type LDAP {
               ldap
        }
        {% endif %}
}

post-auth {
        reply_log
        cui_inner_log
        cui-inner
        Post-Auth-Type REJECT {
                reply_log
		cui_inner_log
        }

}
}
