server eduroam-inner-tunnel {

authorize {
        auth_log
        eap {
            ok = return
        }
        files
        filter_username
        suffix

{% if ldap.enabled == True %}
        ldap
        if ((ok || updated) && User-Password) {
              update {
                  control:Auth-Type := ldap
              }
           }
{% endif %}
        mschap
        pap
}

authenticate {
        eap
        Auth-Type PAP {
                pap
        }

        Auth-Type LDAP {
                ldap
        }

        Auth-Type MS-CHAP {
                mschap
        }
}

post-auth {
        reply_log
        cui_inner_log
        cui-inner
        Post-Auth-Type REJECT {
                reply_log
		            cui_inner_log
        }

}
}
